:root {
  --color-rose-800: #7a284e;
  --color-rose-50: #fff7fb;
  --color-stone-900: #312e2c;
  --color-stone-600: #5f564d;
  --color-stone-150: #e3ddd7;
  --color-stone-100: #f3e5d7;
  --color-brown-800: #854632;
  --color-white: #fff;
}

@font-face {
  font-family: "Outfit";
  src: local("Outfit"), url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Young Serif";
  src: local("Young Serif"),
    url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.outfit-semibold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.outfit-bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--color-stone-100);
  color: var(--color-stone-600);
  padding-block: 128px;
}

main {
  max-width: 736px;
  padding-inline: 40px;
  padding-block: 40px;
  background-color: var(--color-white);
  border-radius: 24px;
  margin-inline: auto;
}

h1,
h2 {
  margin-block-end: 24px;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--color-stone-150);
}

ul,
ol {
  padding-inline-start: 22px;
}

li {
  padding-inline-start: 20px;
}

li:not(:last-child) {
  margin-block-end: 8px;
}

.text-preset-1 {
  font-size: 40px;
  line-height: 100%;
  color: var(--color-stone-900);
}

.text-preset-2 {
  font-size: 28px;
  line-height: 100%;
  color: var(--color-brown-800);
}

.text-preset-3 {
  font-size: 20px;
  line-height: 100%;
  color: var(--color-rose-800);
}

.text-preset-4 {
  font-size: 16px;
  line-height: 150%;
  color: var(--color-stone-600);
}

.top-image {
  margin-block-end: 40px;
}

.top-image img {
  border-radius: 12px;
}

section li::marker {
  color: var(--color-brown-800);
  font-weight: 700;
}

.preparation {
  background-color: var(--color-rose-50);
  border-radius: 12px;
  padding-block: 24px;
  padding-inline: 24px;
}

.preparation h2 {
  margin-block-end: 16px;
}

.preparation li span,
.instructions li span {
  font-weight: 700;
}

.preparation li::marker {
  color: var(--color-rose-800);
}

.text-content {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.nutrition p {
  margin-block-end: 12px;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

tr:not(:last-child) {
  border-bottom: solid 1px var(--color-stone-150);
}

th,
td {
  padding-block-start: 12px;
}

tr:not(:last-child) th,
tr:not(:last-child) td {
  padding-block-end: 12px;
}

th {
  font-weight: 400;
  padding-inline-start: 32px;
}

td {
  font-weight: 700;
  color: var(--color-brown-800);
}