@font-face {
  font-family: Outfit;
  src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: YoungSerif;
  src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

body {
  background-color: #f3e5d7;
  font-family: Outfit;
  font-weight: 400;
  padding-block: 128px;
}

h1 {
  font-family: YoungSerif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  margin-block-end: 24px;
}

h2 {
  font-family: YoungSerif;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  margin-block-end: 24px;
}

main {
  max-width: 736px;
  padding-inline: 40px;
  padding-block: 40px;
  background-color: #fff;
  border-radius: 24px;
  margin-inline: auto;
}

.top-image {
  margin-block-end: 40px;
}

.top-image img {
  border-radius: 12px;
}

.text-content {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.preparation h2 {
  font-family: Outfit;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  margin-block-end: 16px;
}
